---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Calculator from '../components/Calculator.astro';
import CtaBanner from '../components/CtaBanner.astro';
import FAQ from '../components/FAQ.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Calculator />
    <Features />
    <HowItWorks />
    <CtaBanner />
    <FAQ />
  </main>
  <Footer />
</Layout>
